%h1 Editing User

.row
  .span4
    .panel.rounded
      .content
        = render 'form'
        = link_to 'Show', [target_company.to_company, @user]

  .span4
    = render_widget :password, :display, @user

