%ul.breadcrumb
  %li
    %i.icon-folder-open
  - directory.ancestors.each do |a|
    %li
      = link_to a.name, {:id => a.id}
      %span.divider= t(".divider", "default" => "/")
  %li.active= directory.name
