#upload_dialog.modal.hide.fade(tabindex = "-1" role = "dialog" aria-lablledby="uploadModalLabel" aria-hidden="true")
  .modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
    %h3#uploadModalLabel= t("rset_mcm.common.upload")
  .modal-body
    = simple_form_for RsetMcm::Handout.new, :url => content_handouts_path(@directory) do |f|
      = f.input :data, :as => :file
      %button.btn.btn-primary(type="submit")= t("rset_mcm.common.upload")
