// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.two_pain
  .right
    .summary_area
      height: 50px
      padding: 3px 1px
      &:after
        clear: both
    .object-icon
      width: 52px
      float: left
    .info_area
      float: left
      .info
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
      .first
        height: 24px
        padding: 1px
      .second
        height: 24px
        padding: 1px

.tabbable
  .tab-content
    padding: 0px 5px

body.users
  .users_area
    .user_area
      height: 50px
      padding: 3px 1px
      &:hover
        background-color: #ddd
      &:after
        clear: both

      .image_area
        width: 52px
        float: left
      .info_area
        float: left
        width: 150px
        .info
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
        .first
          height: 24px
          padding: 1px
        .second
          height: 24px
          padding: 1px
      .action_area
