= link_to 'Momiji', main_app.root_path, :class => 'brand'
%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
.nav-collapse
  - if user_signed_in?
    = tabs
  %ul.nav.pull-right
    - if user_signed_in?
      %li= link_to 'Logout', main_app.destroy_user_session_path, :method => 'delete'
    - else
      %li= link_to 'Login', main_app.new_user_session_path
